.modules-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.module-item{
    padding: 8px;
    border: 2px solid grey;
    cursor: grab;
    margin: 5px;
}

.module-item:active{
    cursor: grabbing;
}

.resource-item{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid grey;
    cursor: grab;
    margin-bottom: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.resource-item:active{
    cursor: grabbing;
}


.dragging{
    background-color: lightgreen;
}