@font-face {
    font-family: Helvetica;
    src: url('../../assets/helvetica.ttf');
}
.card{
    background-color: #222;
    min-width: 280px;
    max-width: 300px;
    flex-grow: 1;
    margin: 15px 10px;
    border-radius: 5px;
    height:296px;
    box-shadow:0 2px 8px rgba(0,0,0,.09);
    /*
    border: 1px solid #e8e8e8;
    */
    cursor: pointer;
    padding: 2%;
    box-sizing: border-box;
}
.container_img{
    width:120px;
    height:120px;
    margin: 2px auto;
    overflow: hidden;
}
.container_img img{
    width:100%;
    opacity: .5;
}
.clase{
    font-family: Helvetica;
    text-align: center;
    text-transform: uppercase;
    color:#bdbfc2;
    font-size: 13px;
}
.card h3{
    margin: 30px 0;
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
    color:white;
}
.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}
.line-gris{
    background-color: #ccc !important;
    height:1px;
    border: none;
    opacity: .5;
    margin:0;
}
.data span{
    font-size: 25px;

}
.autor{
    text-transform: uppercase;
    color:#bdbfc2;
    font-size: 13px;
    margin: 0;
    font-family: 'Muli', sans-serif;
}
.duracion{
    color:#bdbfc2;
    font-size: 12px;
    margin: 0;
    font-family: Helvetica;
    font-weight: bolder;
}
.autor_img{
    width:34px;
    height:34px;
    border-radius: 17px;
    margin: 0 5px 0 0;
}