.history{
    width:100%;
    height:auto;
    background-color: #181818;
    padding-bottom: 50px;
}
.text_history{

    width:50%;
    height:400px;
    margin: 100px auto 50px auto;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/img.jpg");
}
.text_history img{
    width:100%;

}
.cover_history{
    width:100%;
    height:100%;
}
.history h2{
    color:white;
    font-size: 36px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}
.history p{
    width:50%;
    margin: 0 auto;
    color:white;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 400;
    text-align: justify;

}
@media(max-width: 430px){
    .text_history{
        width: 90%;
    }
    .history p{
        width: 90%;
    }
}