.log{
    width:100%;

    background-color: #181818;

}
.items{
    width:100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.log_form{
    padding: 20px 0;
    width:400px;
    flex-grow: 1;
    background-color: #181818;

}
.log_img{
    width:400px;
    flex-grow: 1;

    background-size: cover;
    background-position: center;
    background-image: url('../../assets/nature-milky-way-stars-galaxy-584333.jpeg');
}
.log_img {
    height:100vh;
    color:white;
    font-size:50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.log_img p{
    margin-bottom: 0;
    font-family: 'Muli', sans-serif;
}
.logbox{
    width:20%;
    margin: 0 auto;
}
.logbox img{
    width:70%;
    margin-left: 15%;
    height:auto;
}
.formulario{
    width:80%;
    margin: 0 auto;
    color:#ccc;

}
.formulario label, .form_r label{
    font-family: "Helvetica";
    font-weight: bolder;
    font-size: 16px;
}
.formulario input, .form_r input{
    width:100%;
    margin-bottom: 14px;
    color:#ccc;
    background: #181818;
    border:1px solid #555;
    height:40px;
    padding-left: 10px;
    box-sizing: border-box;
    /*background-color: white;*/

}
.formulario input::placeholder { font-size: 14px;   opacity: .3; }
.form_r input::placeholder { font-size: 14px;   opacity: .3; }
.formulario label, .form_r label{
    margin-bottom: 4px;

}
.btn_signin{
    background-color: #ffa711;
    border: 1px solid #ffa711;
    width:100%;
    height:40px;
    color:white;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.facebook-signin{
    background-color: transparent;
    border: 1px solid white;
    margin:0 4px 0 0;
    box-sizing: border-box;

}
.google-signin{
    background-color: transparent;
    border: 1px solid white;
    margin:0 0 0 4px;
    box-sizing: border-box;
}
.or{
    width:80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
}
.divide{

    flex: auto;
    border: none;
    height: 1px;
    background-color: #aaa;
}
.btn_transparent{
    background-color: transparent;
    border: 1px solid white;
    width:100%;
    height:40px;
    color:white;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.forget{
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
    opacity: .5;
    font-family: "Helvetica";

}
.forget a{
    color:#ffa711;
    text-decoration: underline;
}

/*REGISTRO*/

.registro h2{
    color:#ccc;
    font-size: 24px;
    font-family: 'Muli', sans-serif;
}
.registro{
    background-color: #181818;
    width:100%;
    height:100vh;
    color:#ccc;
}
.form_registro{
    width:;
}
.form_r{
    width:80%;
    margin: 70px auto;
}
.log a:hover, .registro a:hover{
    color: #ffa711;
    text-decoration: underline;
}

.title{
    color: white;
    text-align: center;
}

.signup-form label{
    position: relative;
}

.error-message{
    position: absolute;
    color:red;
    bottom:-60px;
    width: 400px;
}
